/* -------- GLOBAL -------- */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #f1f5f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* -------- TITLE -------- */
h1 {
    margin-top: 20px;
    font-size: 36px;
    color:wheat ;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* -------- UPLOAD BOX -------- */

.upload-box {
    padding: 0.5rem;
}

/* -------- CARD STYLE -------- */
form, .box {
    background: rgba(30, 41, 59, 0.6);
    backdrop-filter: blur(12px);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: -5px 5px 30px rgb(0, 93, 185),
    5px -5px 30px rgb(118, 17, 118);
    border: 2px solid rgb(129, 129, 129);
    width: 80%;
    max-width: 600px;
}

/* -------- INPUT -------- */
input[type="file"],
input[type="text"] {
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
    outline: none;
    width: 60%;
    background-color: rgba(98, 97, 97, 0.1);
    color: #f1f5f9;
}

input:hover{
    background-color: rgba(55, 55, 55, 0.573);
    border: 1px solid rgb(15, 0, 180);
}

/* -------- BUTTON -------- */
button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #38bdf8, #6366f1);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px #38bdf8;
}

/* -------- STATUS -------- */
#status {
    margin-top: 2rem;
    color: #4ade80;
}

/* -------- ANSWER -------- */
#answer {
    margin-top: 10px;
    font-size: 18px;
    color: #facc15;
}

/* -------- CHART TITLE -------- */
h2 {
    margin-top: 25px;
    font-size: 24px;
    text-align: center;
}

/* -------- CHART CONTAINER -------- */

.chart-container {
    width: 85%;
    max-width: 80%;
    height: 520px;
    max-height: 520px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgb(0, 93, 185),
    10px -10px 20px rgb(118, 17, 118),
    -10px 10px 20px rgb(0, 105, 47),
    -10px -10px 20px rgb(147, 96, 0);
    border: 2px solid rgb(129, 129, 129); 
}

/* -------- CANVAS -------- */

canvas {
    background: rgba(30, 44, 66, 0.7);
    padding: 20px;
    border-radius: 15px;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
    
}

/* -------- HR -------- */
hr {
    width: 80%;
    border: 1px solid #334155;
    margin: 25px 0;
}