<!DOCTYPE html>
<html>
<head>
    <title>AI Data Analyst</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <h1>📊 AI Data Analyst App</h1>

    <form id="uploadForm">
        <input class="upload-box" type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <p id="status"></p>

    <hr>

    <div class="box">
        <h2>Ask AI 🤖</h2>
        <input type="text" id="question">
        <button onclick="askQuestion()">Ask</button>
        <p id="answer"></p>
    </div>

    <hr>

    <h2 id="chartTitle">Product Sales 📦</h2>

    <button onclick="toggleChart()">Switch Chart</button>

     <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

<script src="/static/script.js"></script>

</body>
</html>